.Bg-img {
  background-image: url(/public/images/react-logo.svg);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-img {
  width: 50%;
  margin: 0 auto;
  float: right;
  display: flex;
  background-color: #09d3ac;
}

.App-nav-menu {
  width: 100%;
  margin-bottom: 5em;
}

.App-nav-logo-hamb {
  display: flex;
  justify-content: space-between;
  margin: 0 3em;
}
.App-nav-logo {
  width: 7%;
}
.App-nav-hamb {
  width: 3%;
}
.App-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  place-self: flex-start;
  margin-left: 3em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  width: 60%;
}

p {
  color: white;
  margin-top: 0;
  width: 50%;
  font-weight: 100;
}

.App-btn {
  background-color: white;
  color: #282c34;
  padding: 1em;
  margin-top: 2em;
  text-decoration: none;
  width: 25%;
  border-radius: 0.2em;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

.App-info {
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.content-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-top: 10em;
  margin-left: 3em;
  margin-bottom: 10em;
}

.info-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  place-self: flex-start;
  margin-left: 3em;
  margin: 0;
}

.info-container p {
  color: black;
  width: 50%;
  font-weight: 100;
}
.info-container h4 {
  font-weight: 500;
  color: black;
  margin-bottom: 0;
  font-size: 1.7em;
}

.info-container-img {
  width: 30%;
}
